body {
	background-color: #B2E9FD;
}

img {
	width: 50%;
	height: 50%;
}

.movies-container {
	/* border: 2px solid red; */
}

.movie {
	margin: 10px;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

